{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<div>
    <button type="button" class="btn custom-dropdown-btn text-start" id="modalButton" aria-expanded="false" style="font-size: 1rem; border-radius: 25px;">
        <span class="material-icons mx-2 text-start" style="font-size: 20px;">shopping_basket</span>
        <span class="d-sm-inline text-start">Cart</span>
        <span id="goods-in-cart-count" class="badge btn-primary" style="border-radius: 50%;">{{ carts.total_quantity }}</span>
    </button>
</div>


<!-- Cart Modal Layout -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="text-center mb-4">Shopping Cart</h6>
                <div class="container" id="cart-items-container">
                    <!-- Cart Layout -->
                    {% include "carts/includes/included_cart.html" %}
                    <!-- End Cart Layout -->
                </div>
            </div>
        </div>
    </div>
</div>