@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #c8471c;
  --secondary-color: #ffc176;
  --accent-color: #c04d00;
  --background-color: #f2edd6;
  --light-color: #f0e6d6;
  --dark-color: #3e2a47;
  --danger-color: #5a3d36;
  --highlight-color: #f4f2c5;
  --warning-color: #7f5d4f;
  --gray-color: #ccc;
  --hover-bg-color: rgb(243, 157, 126);
  --font-size: 12px;
}

body {
  background: linear-gradient(to bottom, var(--highlight-color), var(--accent-color));
  font-family: "Azeret Mono", monospace;
  font-size: var(--font-size);
}

/* Navbar styles */
.navbar {
  background-color: transparent;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.btn-outline-success {
  color: var(--accent-color);
  border-color: var(--accent-color);
  font-weight: 600;
  border-radius: 25px;
}

.btn-outline-success:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.btn, .form-control {
  border-radius: 25px;
  border: 2px solid var(--accent-color);
}

.form-control {
  background-color: #fbfaf8;
  color: var(--dark-color);
  border: var(--danger-color) 0.5px solid;
}

.form-control:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.25rem rgba(127, 93, 79, 0.25);
}

.create-account {
  color: var(--primary-color);
}

/* Navbar item styles */
.nav-item a {
  padding: 10px 15px;
  font-size: var(--font-size);
  letter-spacing: 1px;
}

.dropdown-menu {
  border-radius: 10px;
  font-size: var(--font-size);
}

/* Button styles */
.btn-light {
  background-color: var(--light-color);
  color: var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
}

.btn-light:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.dropdown-toggle {
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 25px;
}

.dropdown-toggle::after {
  content: none;
}

/* Product styles */
.product_id {
  color: gray;
  font-size: var(--font-size);
  font-style: italic;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.card {
  border-radius: 12px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Primary button styles */
.btn-primary {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding: 10px 20px;
  font-size: var(--font-size);
  font-weight: bold;
  border: none;
}

.btn-primary:hover {
  background-color: rgb(200, 60, 15);
}

/* Product card styles */
.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card img {
  height: 250px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
}

.card-body .d-flex {
  margin-top: auto;
}

/* Pagination styles */
.pagination .page-link {
  background-color: rgb(255, 255, 255);
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-size: var(--font-size);
}

.pagination .page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.pagination .page-link:hover {
  background-color: var(--hover-bg-color);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.pagination .page-item.disabled .page-link {
  background-color: var(--gray-color);
  border-color: var(--gray-color);
  color: #888;
}

/* Footer styles */
footer {
  font-size: 10px;
  color: rgb(227, 227, 227);
  margin: 20px;
}

/* General Navbar Styles */
.custom-navbar {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Navbar Toggle Button */
.custom-toggler {
  border: none;
  background: transparent;
}

/* Search Form */
.custom-search-form .input-group {
  max-width: 400px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.custom-search-input {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: var(--font-size);
}

.custom-search-button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.custom-search-button .material-icons {
  font-size: 16px;
}

/* Dropdown Menu for Catalog */
.custom-dropdown-btn {
  padding: 10px 20px;
  border: none;
  font-size: var(--font-size);
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-dropdown-btn .material-icons {
  margin-left: 10px;
}

/* Dropdown Menu Items */
.dropdown-menu {
  border-radius: 0;
}

.dropdown-item {
  padding: 12px 20px;
  font-size: var(--font-size);
  color: #333;
  background-color: #ffffff;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.nav-item a {
  color: #333;
  font-size: var(--font-size);
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.nav-item a:hover, .custom-dropdown-btn:hover {
  color: var(--primary-color);
}


@media (max-width: 991px) {
  .custom-search-form {
      margin: 10px 0;
  }
  
  .navbar-nav {
      margin-top: 15px;
  }
}

.accordion-button, #collapse {
  background-color: var(--secondary-color) !important;
  font-size: var(--font-size) !important;
}

.accordion-body .table a {
  color: var(--primary-color)  !important; 
}

#id_image {
  font-size: 12px;
}

.product-link:hover {
 text-decoration: underline !important;
}

#notification, #jq-notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  transform: none;
  z-index: 300;
}

.custom-dropdown-btn {
  font-size: var(--font-size) !important;
}

#goods-in-cart-count {
  border-radius: 50% !important;
  background-color: var(--secondary-color) !important;
  color: #333 !important;
  border: #333 0.5px solid;
  font-size: 12px !important;
  padding: 6px 8px;
  margin-left: 10px;
}