{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <style>
        body, .container, .form-floating, .btn {
            font-size: 12px;
        }
    </style>
    
    <div class="row justify-content-center">
        <div class="col-md-6 bg-white p-5 mb-5 mx-3 rounded shadow-sm">
            <h6 class="text-center mb-4">Login</h6>
            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}

                <!-- Username Field -->
                <div class="mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control border-1-gray shadow-sm rounded-3" 
                               value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                               name="username" id="id_username" required>
                        <label for="id_username">Username</label>
                    </div>
                    {% if form.username.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <!-- Password Field -->
                <div class="mb-4">
                    <div class="form-floating">
                        <input type="password" class="form-control border-1-gray shadow-sm rounded-3"
                               name="password" id="id_password" required>
                        <label for="id_password">Password</label>
                    </div>
                    {% if form.password.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100 mt-4">Login</button>
            </form>

            <!-- Links -->
            <div class="mt-3 text-center">
                <a href="{% url 'user:registration' %}" class="create-account">Create an Account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}