{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <style>
        body, .container, .form-floating, .btn {
            font-size: 12px;
        }
    </style>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 bg-white p-5 mb-5 mx-2 rounded shadow-sm">
            <h6 class="text-center mb-4">Register</h6>
            <form action="{% url 'user:registration' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <!-- First Name Field -->
                    <div class="col-md-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control border-1-gray shadow-sm rounded-3" id="id_first_name"
                                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                name="first_name" required>
                            <label for="id_first_name" class="form-label">First Name*</label>
                        </div>
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <!-- Last Name Field -->
                    <div class="col-md-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control border-1-gray shadow-sm rounded-3" id="id_last_name"
                                value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                name="last_name" required>
                            <label for="id_last_name" class="form-label">Last Name*</label>
                        </div>
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <!-- Username Field -->
                    <div class="col-md-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control border-1-gray shadow-sm rounded-3" id="id_username"
                                value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                name="username" required>
                            <label for="id_username" class="form-label">Username*</label>
                        </div>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <!-- Email Field -->
                    <div class="col-md-6 mb-4">
                        <div class="form-floating">
                            <input type="email" class="form-control border-1-gray shadow-sm rounded-3" id="id_email"
                                value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                name="email" required>
                            <label for="id_email" class="form-label">Email*</label>
                        </div>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <!-- Password Field -->
                    <div class="col-md-6 mb-4">
                        <div class="form-floating">
                            <input type="password" class="form-control border-1-gray shadow-sm rounded-3" id="id_password1"
                                value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                name="password1" required>
                            <label for="id_password1" class="form-label">Password*</label>
                        </div>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <!-- Confirm Password Field -->
                    <div class="col-md-6 mb-4">
                        <div class="form-floating">
                            <input type="password" class="form-control border-1-gray shadow-sm rounded-3" id="id_password2"
                                value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                name="password2" required>
                            <label for="id_password2" class="form-label">Confirm Password*</label>
                        </div>
                        {% if form.password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100 mt-4">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}