{% load static %}
{% load cache %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'deps/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/style.css' %}">
    
    {% block css %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" role="search" action="{% url 'catalog:search' %}" method="get">
                        <div class="input-group">
                            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                            <button class="search-button" type="submit">
                                <span class="material-icons">search</span>
                            </button>
                        </div>
                    </form>
                    
                    <div class="row mt-3">
                        <div class="dropdown mb-2">
                            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Catalog
                                <span class="material-icons">grid_view</span>
                            </button>
                            <ul class="dropdown-menu">
                                {% cache 60 catalog_categories %}
                                {% tag_categories as categories %}
                                {% for category in categories %}
                                <li><a class="dropdown-item" href="{% url 'catalog:index' category.slug %}">{{category.name}}</a></li>
                                {% endfor %}
                                {% endcache %}
                            </ul>
                        </div>
                        {% block modal_cart %}{% endblock %}
                    </div>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'user:login' %}">Login</a>
                        </li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'user:profile' %}">Profile Settings</a></li>
                        {% if user.is_admin or user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="flex-grow-1">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                    {% include 'includes/notifications.html' %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    <footer>Images are from</footer>
    <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
    <script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
